USING_DOCKER_COMPOSE=true

# Frontend
FRONTEND_PORT=3000
FRONTEND_HOST=pp-frontend


# User Service
USER_SERVICE_PORT=8000
USER_SERVICE_HOST=pp-user-service
USER_SERVICE_PREFIX=/api/user
# User Service DB
USER_SERVICE_REDIS_ENV=DEV
USER_SERVICE_REDIS_PORT=6379
USER_SERVICE_REDIS_HOST=pp-user-service-redis
USER_SERVICE_REDIS_URI_CLOUD=
USER_SERVICE_REDIS_URI_LOCAL=redis://${USER_SERVICE_REDIS_HOST}:${USER_SERVICE_REDIS_PORT}

USER_SERVICE_MONGO_ENV=PROD
USER_SERVICE_MONGO_PORT=27017
USER_SERVICE_MONGO_HOST=pp-user-service-mongo
USER_SERVICE_MONGO_URI_CLOUD=mongodb+srv://<username>:<password>@cluster0.wmariph.mongodb.net/user?retryWrites=true&w=majority
USER_SERVICE_MONGO_URI_LOCAL=mongodb://${USER_SERVICE_MONGO_PORT}:${USER_SERVICE_MONGO_HOST}/user

USER_SERVICE_JWT_SECRET_KEY=


# Matching Service
MATCHING_SERVICE_PORT=8001
MATCHING_SERVICE_HOST=pp-matching-service
MATCHING_SERVICE_SOCKETIO_PATH=/api/match/socket.io/
MATCHING_SERVICE_SOCKETIO_MATCH_NAMESPACE=/match
MATCHING_SERVICE_SOCKETIO_ROOM_NAMESPACE=/room
# Matching Service DB
MATCHING_SERVICE_POSTGRES_ENV=DEV
MATCHING_SERVICE_POSTGRES_PORT=5432
MATCHING_SERVICE_POSTGRES_HOST=pp-matching-service-pgsql
MATCHING_SERVICE_POSTGRES_URI_CLOUD=
MATCHING_SERVICE_POSTGRES_URI_LOCAL=
MATCHING_SERVICE_POSTGRES_DB=match
MATCHING_SERVICE_POSTGRES_USER=postgres
MATCHING_SERVICE_POSTGRES_PASSWORD=<your-pgsql-password>


# Question Service
QUESTION_SERVICE_PORT=8002
QUESTION_SERVICE_HOST=pp-question-service
QUESTION_SERVICE_PREFIX=/api/questions
# Question Service DB
QUESTION_SERVICE_MONGO_ENV=PROD
QUESTION_SERVICE_MONGO_URI_CLOUD=mongodb+srv://<username>:<password>@cluster0.wmariph.mongodb.net/questionBank?retryWrites=true&w=majority
QUESTION_SERVICE_MONGO_URI_LOCAL=


# Collaboration Service
EDITOR_SERVICE_PORT=8003
EDITOR_SERVICE_HOST=pp-collaboration-service
EDITOR_SERVICE_SOCKETIO_PATH=/api/editor/socket.io/


# Communication Service
CHAT_SERVICE_PORT=8004
CHAT_SERVICE_HOST=pp-communication-service
COMMUNICATION_SERVICE_PREFIX=/api/chat/socket.io/


# API Gateway
API_GATEWAY_PORT=9000
API_GATEWAY_HOST=pp-api-gateway