MONGO_CLOUD_URI=
MONGO_LOCAL_URI=mongodb://pp-user-service-mongo:27017/user
MONGO_ENV=DEV

REDIS_CLOUD_URI=
REDIS_LOCAL_URI=redis://pp-user-service-redis:6379
REDIS_ENV=DEV

JWT_SECRET_KEY=

PORT=8000

